# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import time 
import glob
import zipfile

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [4]:
with zipfile.ZipFile('Data.zip','r') as my_zip:
    my_zip.extractall('all_data')

In [5]:
to_df_info = glob.glob('all_data/Data/Students_info*')
q = pd.read_csv(to_df_info[0])
for i in range(1, len(to_df_info)):
    info = pd.concat([q, pd.read_csv(to_df_info[i])])
    q = info

to_df_grades = glob.glob('all_data/Data/Students_marks*')
q = pd.read_csv(to_df_grades[0])
for i in range(1, len(to_df_grades)):
    grades = pd.concat([q, pd.read_csv(to_df_grades[i])])
    q = grades
    
df = info.merge(grades, how = 'outer', on = 'index')

In [6]:
df.sample(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
663,463,female,group C,some college,free/reduced,none,group5,77,90,91
68,168,female,group B,high school,standard,completed,group2,68,83,78
406,706,male,group D,high school,standard,none,group8,46,34,36
607,407,female,group B,associate's degree,standard,none,group5,82,80,77
759,559,male,group D,some high school,standard,none,group6,73,66,62
498,798,male,group E,some college,standard,none,group8,69,60,54
695,495,male,group D,high school,standard,completed,group5,68,64,66
880,880,male,group C,bachelor's degree,standard,completed,group9,63,64,66
744,544,female,group D,master's degree,standard,none,group6,64,63,66
703,503,female,group E,associate's degree,standard,completed,group6,95,89,92

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [7]:
df = df.drop(['index'], axis=1)
df[:10]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,male,group B,some college,standard,none,group2,79,67,67
1,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,female,group D,associate's degree,standard,none,group2,85,91,89
3,male,group B,high school,standard,completed,group2,60,44,47
4,male,group C,some college,standard,completed,group2,98,86,90
5,female,group C,some college,standard,none,group2,58,67,72
6,female,group D,master's degree,standard,none,group2,87,100,100
7,male,group E,associate's degree,standard,completed,group2,66,63,64
8,female,group B,associate's degree,free/reduced,none,group2,52,76,70
9,female,group B,some high school,standard,none,group2,70,64,72

#### Задание 3. Выведите на экран размеры полученной таблицы

In [7]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [8]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [9]:
nans = df.isnull().sum()
nans

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [10]:
print((np.sum(np.array(nans)) == 0) * 'Нет пропусков', (np.sum(np.array(nans)) != 0) * 'Есть пропуски')

Нет пропусков

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [11]:
df[['math score','reading score','writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [12]:
df.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [13]:
print(*df['lunch'].unique(), sep=', ')

standard, free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [14]:
df = df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'})
df[:5]

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,male,group B,some college,standard,none,group2,79,67,67
1,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,female,group D,associate's degree,standard,none,group2,85,91,89
3,male,group B,high school,standard,completed,group2,60,44,47
4,male,group C,some college,standard,completed,group2,98,86,90

**Зафиксируем минимальный балл для сдачи экзамена**

In [15]:
passmark = 50

**Задание 10. Ответьте на вопросы:**

    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [16]:
print(
    'Доля сдавших математику: ', 
      df[df['math score'] >= passmark].count()[0]/ df.shape[0]
     )
print('Доля сдавших математику, среди проходивших курс: ', 
      df[df['math score'] >= passmark]['test preparation'].value_counts()['completed'] /
      df['test preparation'].value_counts()['completed']
     )
print('Доля женщин несдавших математику, среди не проходивших курс женщин: ', 
      df[df['math score'] < passmark][['test preparation', 'gender']].value_counts()['none', 'female'] /
      df[['test preparation', 'gender']].value_counts()['none', 'female']
     )

Доля сдавших математику:  0.865
Доля сдавших математику, среди проходивших курс:  0.9217877094972067
Доля женщин несдавших математику, среди не проходивших курс женщин:  0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**

    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [17]:
start = time.time()

print(df.groupby('education')['writing score'].min())
print()
print(df.groupby('race/ethnicity')['reading score'].mean())
print()
end_time_pd = time.time() - start
print('time', end_time_pd)

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

time 0.006907939910888672

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [18]:
start = time.time()

education = sorted(list(set(df['education'])))
for q in range(len(education)):
    s = []
    for i in range(len(df)):
        if df['education'][i] == education[q]:
            s.append(df['writing score'][i])
    print(education[q], ': ', np.min(s), sep = '')
    s.clear()

print()

race = sorted(list(set(df['race/ethnicity'])))
for q in range(len(race)):
    s = []
    for i in range(len(df)):
        if df['race/ethnicity'][i] == race[q]:
            s.append(df['reading score'][i])
    print(race[q], ': ', np.mean(s), sep = '')
    s.clear()
    
print()
end_time_loop = time.time() - start
print('time', end_time_loop)

associate's degree: 35
bachelor's degree: 38
high school: 15
master's degree: 46
some college: 19
some high school: 10

group A: 64.67415730337079
group B: 67.35263157894737
group C: 69.10344827586206
group D: 70.03053435114504
group E: 73.02857142857142

time 0.07807087898254395

In [19]:
print('С группировкой быстрее на', end_time_loop-end_time_pd)

С группировкой быстрее на 0.07116293907165527

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [20]:
pd.pivot_table(data=df,index=['gender', 'education'])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [21]:
df['Math_PassStatus'] = df['math score'].apply(lambda score: 'P' if score >= passmark else 'F')
df['Read_PassStatus'] = df['reading score'].apply(lambda score: 'P' if score >= passmark else 'F')
df['Write_PassStatus'] = df['writing score'].apply(lambda score: 'P' if score >= passmark else 'F')

print(df.groupby('Math_PassStatus')['Math_PassStatus'].count(), 
      df.groupby('Read_PassStatus')['Read_PassStatus'].count(), 
      df.groupby('Write_PassStatus')['Write_PassStatus'].count()
     )

Math_PassStatus
F    135
P    865
Name: Math_PassStatus, dtype: int64 Read_PassStatus
F     90
P    910
Name: Read_PassStatus, dtype: int64 Write_PassStatus
F    114
P    886
Name: Write_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [22]:
df['OverAll_PassStatus'] = df.apply(lambda x: 'P' if min((x['math score'], x['reading score'], x['writing score'])) 
                                    >= passmark else 'F', axis=1)
df[:3]

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Read_PassStatus,Write_PassStatus,OverAll_PassStatus
0,male,group B,some college,standard,none,group2,79,67,67,P,P,P,P
1,male,group D,bachelor's degree,standard,completed,group2,68,74,74,P,P,P,P
2,female,group D,associate's degree,standard,none,group2,85,91,89,P,P,P,P

In [23]:
print('Кол-во студентов, сдавших все экзамены:', df['OverAll_PassStatus'].value_counts()['P'])

Кол-во студентов, сдавших все экзамены: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [24]:
def GetGrade(average_mark): 
    
    if average_mark >= 90:
        return 'A'
    
    elif average_mark >= 80:
        return 'B'
    
    elif average_mark >= 70:
        return 'C'
    
    elif average_mark >= 60:
        return 'D'
    
    elif average_mark >= 50:
        return 'E'
    
    else: 
        return 'F'

In [25]:
df['Grade'] = df.apply(lambda x: 
                       GetGrade(np.mean((x['math score'], x['reading score'], x['writing score']))), axis=1
                      )
df.sample(6)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Read_PassStatus,Write_PassStatus,OverAll_PassStatus,Grade
777,female,group B,high school,standard,none,group6,81,91,89,P,P,P,P,B
217,female,group C,high school,free/reduced,none,group3,34,42,39,F,F,F,F,F
875,male,group C,some college,free/reduced,none,group9,80,64,66,P,P,P,P,C
529,female,group C,some high school,standard,completed,group7,44,51,55,F,P,P,F,E
332,male,group E,associate's degree,standard,completed,group4,62,56,53,P,P,P,P,E
181,male,group B,high school,free/reduced,none,group1,49,45,45,F,F,F,F,F

In [26]:
df['Grade'].value_counts()
df.groupby('Grade')['Grade'].count()

Grade
A     52
B    146
C    261
D    256
E    182
F    103
Name: Grade, dtype: int64